exportPattern("^[[:alpha:]]+")
export(fishing_area_data)
importFrom("utils", "read.csv")
importFrom("stats", "na.omit")
importFrom("utils", "data")
importFrom(magrittr,"%>%")
import(tidyverse)
import(strucchange)
